:root {
  --bug: #b8d171;
  --bug-border: #607017;
  --dark: #656786;
  --dark-border: #191d77;
  --fire: #d87d7d;
  --fire-border: #b62a36;
  --dragon: #98d5db;
  --dragon-border: #1fabbb;
  --electric: #f5f370;
  --electric-border: #d1bc00;
  --fairy: #eb84ad;
  --fairy-border: #be1e5e;
  --fighting: #e79f8d;
  --fighting-border: #da4f2d;
  --flying: #bad0e2;
  --flying-border: #79a4ca;
  --ghost: #9c7a9c;
  --ghost-border: #673674;
  --grass: #a0d481;
  --grass-border: #488326;
  --ground: #775d3b;
  --ground-border: #4d3414;
  --ice: #e0effc;
  --ice-border: #97a8b8;
  --normal: #e0b2c0;
  --normal-border: #b67588;
  --poison: #9e69db;
  --poison-border: #57377c;
  --psychic: #ff82da;
  --psychic-border: #f61c94;
  --rock: #a06f5e;
  --rock-border: #894025;
  --steel: #8ed1bb;
  --steel-border: #32aa82;
  --water: #a7c1ff;
  --water-border: #3265db;
  --default: #9eafb6;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  margin: 5px 5px 5px 5px;
  background-color: #ececec;
}
main {
  width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: black;
}

.main__header {
  margin-top: 50px;
}

.main__header h1 {
  font-size: 5rem;
  font-weight: bolder;
  color: #1d1d1d;
  margin: 10px;
  text-align: center;
}

.main__content {
  padding: 10px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(auto 976px);
}

.pokemon__cards {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.pokemon__card {
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  padding: 0;
  border-radius: 25px;
}

.pokemon__id {
  text-align: end;
  font-size: 2rem;
  color: white;
  font-weight: bolder;
  margin-top: 10px;
  margin-right: -15px;
}
.pokemon__img-container {
  margin-top: 10px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.pokemon__img-container img {
  width: 140px;
}

.pokemon___name {
  margin-top: 15px;
  text-align: center;
  font-size: 2.4rem;
  font-weight: bolder;
  text-transform: capitalize;
}

.pokemon__types-container {
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

.pokemon__types-container span {
  font-size: 1.8rem;
  border-radius: 5px;
  padding: 3px 5px;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 2px;
}

.pokemon__inner-container {
  margin-top: 50px;
  border-radius: 40px;
  width: 90%;
  height: 350px;
  justify-self: center;
}

.pokemon__inner-card {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 30% 1fr;
}

.pokemon__inner-name {
  grid-column: 1 / 2;
  grid-row: 1/2;
  place-self: center;
  font-size: 3rem;
  text-transform: capitalize;
}

.pokemon__inner-img {
  grid-row: 2 / 3;
  grid-column: 1/2;
  place-self: center;
}

.pokemon__inner-img img {
  width: 250px;
}

.pokemon__info {
  grid-row: 1/3;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 20% 80%;
}

.pokemon__info h3 {
  align-self: center;
  margin-left: 15px;
  font-size: 1.4rem;
}

.pokemon__info p {
  align-self: center;
  font-size: 1.2rem;
  font-weight: 500;
  margin-right: 15px;
}

/* Grass type Pokemon */
.pokemon__card--type-grass {
  border: 5px solid var(--grass-border);
  background-color: var(--grass);
}
.pokemon__card--type-grass .pokemon__id {
  color: var(--grass-border);
}
.pokemon__card--type-grass h3 {
  color: var(--grass-border);
}
.pokemon__type--grass {
  border: none;
  background-color: var(--grass-border);
  color: var(--grass);
}

/* Fire type Pokemon */
.pokemon__card--type-fire {
  border: 5px solid var(--fire-border);
  background-color: var(--fire);
}
.pokemon__card--type-fire .pokemon__id {
  color: var(--fire-border);
}
.pokemon__card--type-fire h3 {
  color: var(--fire-border);
}
.pokemon__type--fire {
  border: none;
  background-color: var(--fire-border);
  color: var(--fire);
}

/* Water type Pokemon */
.pokemon__card--type-water {
  border: 5px solid var(--water-border);
  background-color: var(--water);
}
.pokemon__card--type-water .pokemon__id {
  color: var(--water-border);
}
.pokemon__card--type-water h3 {
  color: var(--water-border);
}
.pokemon__type--water {
  border: none;
  background-color: var(--water-border);
  color: var(--water);
}

/* Bug type Pokemon */
.pokemon__card--type-bug {
  border: 5px solid var(--bug-border);
  background-color: var(--bug);
}
.pokemon__card--type-bug .pokemon__id {
  color: var(--bug-border);
}
.pokemon__card--type-bug h3 {
  color: var(--bug-border);
}
.pokemon__type--bug {
  border: none;
  background-color: var(--bug-border);
  color: var(--bug);
}

/* Electric type Pokemon */
.pokemon__card--type-electric {
  border: 5px solid var(--electric-border);
  background-color: var(--electric);
}
.pokemon__card--type-electric .pokemon__id {
  color: var(--electric-border);
}
.pokemon__card--type-electric h3 {
  color: var(--electric-border);
}
.pokemon__type--electric {
  border: none;
  background-color: var(--electric-border);
  color: var(--electric);
}

/* Normal type Pokemon */
.pokemon__card--type-normal {
  border: 5px solid var(--normal-border);
  background-color: var(--normal);
}
.pokemon__card--type-normal .pokemon__id {
  color: var(--normal-border);
}
.pokemon__card--type-normal h3 {
  color: var(--normal-border);
}
.pokemon__type--normal {
  border: none;
  background-color: var(--normal-border);
  color: var(--normal);
}

/* Poison type Pokemon */
.pokemon__card--type-poison {
  border: 5px solid var(--poison-border);
  background-color: var(--poison);
}
.pokemon__card--type-poison .pokemon__id {
  color: var(--poison-border);
}
.pokemon__card--type-poison h3 {
  color: var(--poison-border);
}
.pokemon__type--poison {
  border: none;
  background-color: var(--poison-border);
  color: var(--poison);
}

/* Ground type Pokemon */
.pokemon__card--type-ground {
  border: 5px solid var(--ground-border);
  background-color: var(--ground);
}
.pokemon__card--type-ground .pokemon__id {
  color: var(--ground-border);
}
.pokemon__card--type-ground h3 {
  color: var(--ground-border);
}
.pokemon__type--ground {
  border: none;
  background-color: var(--ground-border);
  color: var(--ground);
}

/* Fairy type Pokemon */
.pokemon__card--type-fairy {
  border: 5px solid var(--fairy-border);
  background-color: var(--fairy);
}
.pokemon__card--type-fairy .pokemon__id {
  color: var(--fairy-border);
}
.pokemon__card--type-fairy h3 {
  color: var(--fairy-border);
}
.pokemon__type--fairy {
  border: none;
  background-color: var(--fairy-border);
  color: var(--fairy);
}

/* Fighting type Pokemon */
.pokemon__card--type-fighting {
  border: 5px solid var(--fighting-border);
  background-color: var(--fighting);
}
.pokemon__card--type-fighting .pokemon__id {
  color: var(--fighting-border);
}
.pokemon__card--type-fighting h3 {
  color: var(--fighting-border);
}
.pokemon__type--fighting {
  border: none;
  background-color: var(--fighting-border);
  color: var(--fighting);
}

/* Psychic type Pokemon */
.pokemon__card--type-psychic {
  border: 5px solid var(--psychic-border);
  background-color: var(--psychic);
}
.pokemon__card--type-psychic .pokemon__id {
  color: var(--psychic-border);
}
.pokemon__card--type-psychic h3 {
  color: var(--psychic-border);
}
.pokemon__type--psychic {
  border: none;
  background-color: var(--psychic-border);
  color: var(--psychic);
}

/* Rock type Pokemon */
.pokemon__card--type-rock {
  border: 5px solid var(--rock-border);
  background-color: var(--rock);
}
.pokemon__card--type-rock .pokemon__id {
  color: var(--rock-border);
}
.pokemon__card--type-rock h3 {
  color: var(--rock-border);
}
.pokemon__type--rock {
  border: none;
  background-color: var(--rock-border);
  color: var(--rock);
}

/* Flying type Pokemon */
.pokemon__card--type-flying {
  border: 5px solid var(--flying-border);
  background-color: var(--flying);
}
.pokemon__card--type-flying .pokemon__id {
  color: var(--flying-border);
}
.pokemon__card--type-flying h3 {
  color: var(--flying-border);
}
.pokemon__type--flying {
  border: none;
  background-color: var(--flying-border);
  color: var(--flying);
}

/* Ghost type Pokemon */
.pokemon__card--type-ghost {
  border: 5px solid var(--ghost-border);
  background-color: var(--ghost);
}
.pokemon__card--type-ghost .pokemon__id {
  color: var(--ghost-border);
}
.pokemon__card--type-ghost h3 {
  color: var(--ghost-border);
}
.pokemon__type--ghost {
  border: none;
  background-color: var(--ghost-border);
  color: var(--ghost);
}

/* Ice type Pokemon */
.pokemon__card--type-ice {
  border: 5px solid var(--ice-border);
  background-color: var(--ice);
}
.pokemon__card--type-ice .pokemon__id {
  color: var(--ice-border);
}
.pokemon__card--type-ice h3 {
  color: var(--ice-border);
}
.pokemon__type--ice {
  border: none;
  background-color: var(--ice-border);
  color: var(--ice);
}

/* Dragon type Pokemon */
.pokemon__card--type-dragon {
  border: 5px solid var(--dragon-border);
  background-color: var(--dragon);
}
.pokemon__card--type-dragon .pokemon__id {
  color: var(--dragon-border);
}
.pokemon__card--type-dragon h3 {
  color: var(--dragon-border);
}
.pokemon__type--dragon {
  border: none;
  background-color: var(--dragon-border);
  color: var(--dragon);
}

/* Dark type Pokemon */
.pokemon__card--type-dark {
  border: 5px solid var(--dark-border);
  background-color: var(--dark);
}
.pokemon__card--type-dark .pokemon__id {
  color: var(--dark-border);
}
.pokemon__card--type-dark h3 {
  color: var(--dark-border);
}
.pokemon__type--dark {
  border: none;
  background-color: var(--dark-border);
  color: var(--dark);
}

/* Steel type Pokemon */
.pokemon__card--type-steel {
  border: 5px solid var(--steel-border);
  background-color: var(--steel);
}
.pokemon__card--type-steel .pokemon__id {
  color: var(--steel-border);
}
.pokemon__card--type-steel h3 {
  color: var(--steel-border);
}
.pokemon__type--steel {
  border: none;
  background-color: var(--steel-border);
  color: var(--steel);
}
